body{
    margin: 0;
    padding: 0;
    background-color: rgb(10,10,10);
    color: rgb(240,240,240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.share-button{
    width: 40px;
    height: 40px;
}


header{
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

.container{
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile{
    width: 100%;
    background-color:rgb(37,37,37);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}

.tile:hover{
    transition: cubic-bezier(0.07,1.41,0.82,1.41) 0.2s;
    transform: scale(1.02);
}

a{
    text-decoration: none;
    color: rgb(240,240,240);
}

h1{
    font-size: 20px;
    margin-bottom: 30px;
}

.image-container{
    height: 96px;
    width: 96px;
    border-radius:48px;
    overflow: hidden;
}

.image-container img{
    height: 100%
}

.icon{
    height: 48px;
    width: 48px;
    margin: 6px 8px;
}

body {
    background: linear-gradient(to right, #9caeed, #0c57e4);
}

body {
    background: url('IMG_3279.jpg') center/cover no-repeat fixed;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
    color: rgb(240, 240, 240);
    animation: changeColor 4s infinite alternate; /* Animation properties */
}

@keyframes changeColor {
    0% {
        color: rgb(240, 240, 240);
    }
    50% {
        color: rgb(3, 68, 40); /* Change to your desired color */
    }
    100% {
        color: rgb(255, 255, 255);
    }
}
